	<?php
		echo $form->input('titulo', array('style'=>'width:450px'));
		echo $form->input('assunto', array('style'=>'width:450px'));
	?>
	
	<label>Conteudo</label>
	<div style="height:620px">
	<?php		
		echo $util->fckEditor('text', array('label' => false));
	?>
	</div>