<div class="occupations form">
<?php echo $form->create('Occupation');?>
	<fieldset>
 		<legend><?php __('Novo Cargo');?></legend>
		
		<?php echo $this->element('occupations/form'); ?>
		
		<?php echo $form->end('Salvar');?>
	</fieldset>

</div>