<div class="labels form">
<?php echo $form->create('Label');?>
	<fieldset>
 		<legend><?php __('Novo Etiqueta');?></legend>
		
		<?php echo $this->element('labels/form'); ?>
		
		<?php echo $form->end('Salvar');?>
	</fieldset>

</div>