/* CSS FOR ADMIN */
/*********************
	HTML Elements
*********************/
* {
	margin: 0;
	padding: 0;
}

img,div,a {
	behavior: url(css/iepngfix.htc)
}

body {
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
}

a,a:visited {
	text-decoration: none;
}

img {
	border: 0;
	margin: 1px;
}

p {
	padding: 3px;
}

h2 {
	
}

input {
	padding: 2px;
}

select {
	padding: 2px;
}

/*********************
	Structure
*********************/
#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 960px;
}

#header h2 {
	margin-top: 20px;
}

#content {
	width: 940px;
	float: left;
	margin: 10px 0 10px 0;
	padding: 10px;
}

#sidebar {
	background: #FFF;
	width: 170px;
	float: left;
	margin: 10px 0 10px 0;
	padding: 10px;
}

#footer {
	clear: both;
	padding: 5px;
	margin-top: 10px;
}

#box h3 {
	padding: 5px;
	font-size: 14px;
}

/*********************
	Sidebar
*********************/
#sidebar ul {
	list-style: none;
	line-height: 22px;
}

#sidebar ul li a,#sidebar ul li a:visited {
	padding-left: 19px;
	text-decoration: none;
	margin: 0 3px;
	display: block;
}

#sidebar ul li a:hover {
	text-decoration: underline;
}

#sidebar ul li ul {
	margin-left: 10px;
}

#sidebar h3 {
	padding: 2px;
	font-size: 14px;
}

/*********************
  TopMenu, Top-Panel
*********************/
#topmenu {
	margin-top: 33px;
	width: 950px;
	float: left;
	voice-family: inherit;
}

#topmenu ul {
	list-style: none;
	line-height: 25px;
}

#topmenu li {
	display: inline;
}

#topmenu a,#topmenu a:visited {
	padding: 5px 12px 5px 12px;
	text-decoration: none;
}

#topmenu .current a,#topmenu .current a:hover,#topmenu .current a:visited
	{
	padding: 5px 12px 5px 12px;
	font-weight: bold;
}

#top-panel {
	background: #FFF;
	padding: 5px;
	height: 20px;
	float: left;
	width: 950px;
}

#top-panel ul {
	list-style: none;
}

#top-panel ul li {
	display: inline;
	line-height: 20px;
}

#top-panel ul li a {
	padding-left: 19px;
	text-decoration: none;
	margin: 0 3px;
	display: inline-block;
}

#top-panel a:hover {
	text-decoration: underline;
}

#msg-area {
	background: #FFF;
	margin-top: 10px;
	padding: 5px;
	height: 13px;
	float: left;
	width: 946px;
	border: 2px dotted #FF0000;
}

#search {
	background: #FFF;
	margin-top: 10px;
	padding: 5px;
	height: 120px;
	float: left;
	width: 946px;
}

/*********************
		Other
*********************/
.a-right {
	text-align: right;
}

.a-left {
	text-align: left;
}

.a-center {
	text-align: center;
}

#pager {
	margin: 5px;
	height: 25px;
}

#styleswitcher {
	float: right;
}

#styleswitcher ul {
	list-style: none;
	line-height: 10px;
}

#styleswitcher li {
	height: 12px;
	display: inline;
}

#footer ul {
	list-style: none;
}

#footer li {
	display: inline;
}

a#defswitch {
	width: 15px;
	height: 10px;
	margin: 3px 0 3px 0;
	background-color: #bd3f09;
	font-size: 8px;
	color: #bd3f09;
	display: inline-block;
}

a#blueswitch {
	width: 15px;
	height: 10px;
	margin: 3px 0 3px 0;
	background-color: #375b91;
	font-size: 8px;
	color: #375b91;
	display: inline-block;
}

a#greenswitch {
	width: 15px;
	height: 10px;
	margin: 3px 0 3px 0;
	background-color: #d0e0b8;
	font-size: 8px;
	color: #d0e0b8;
	display: inline-block;
}

a#brownswitch {
	width: 15px;
	height: 10px;
	margin: 3px 0 3px 0;
	background-color: #654322;
	font-size: 8px;
	color: #654322;
	display: inline-block;
}

a#mixswitch {
	width: 15px;
	height: 10px;
	margin: 3px 0 3px 0;
	background-color: #294145;
	font-size: 8px;
	color: #294145;
	display: inline-block;
}

#credits {
	clear: both;
	width: 100%;
	float: left;
	text-align: center;
}

/*********************
		Tables
*********************/
table {
	padding: 1px;
	border-collapse: collapse;
	table-layout: automatic;
	width: 98%;
}

td,th {
	padding: 2px;
}

thead {
	
}

/*********************
		Home
*********************/
#infowrap li {
	display: inline :
}

#infobox {
	width: 365px;
	float: left;
	margin-top: 10px;
}

#infobox h3 {
	padding: 5px;
	font-size: 14px;
}

.margin-left {
	margin-left: 5px;
}

#rightnow .reallynow {
	padding: 5px;
	font-size: 14px;
}

#rightnow h3 {
	padding: 2px;
	padding: 0 10px;
	font-size: 14px;
}

#rightnow .reallynow span {
	display: block;
	text-align: left;
	float: left;
	padding: 0 2px;
	font-size: 14px
}

#rightnow .reallynow a {
	text-decoration: none;
	display: block;
	text-align: right;
	float: right;
	padding: 0 0 0 18px;
	margin-left: 4px;
	font-weight: normal;
	font-size: 12px;
}

#rightnow .reallynow a:hover {
	text-decoration: underline;
}

#rightnow .youhave {
	font-size: 12px;
	padding: 10px;
}

#rightnow a {
	font-weight: bold;
}

/*********************
	Icons
*********************/
.icon {
	padding-left: 19px;
	text-decoration: none;
	height: 20px;
	font-size: 12x;
	margin: 0 3px;
	display: inline-block;
	line-height: 20px;
}

.user {
	background: transparent url(../img/icons/user.png) no-repeat left;
}

.useradd {
	background: transparent url(../img/icons/user_add.png) no-repeat left;
}

.useredit {
	background: transparent url(../img/icons/user_edit.png) no-repeat left;
}

.userdelete {
	background: transparent url(../img/icons/user_delete.png) no-repeat left;
}

.group {
	background: transparent url(../img/icons/group.png) no-repeat left;
}

.search {
	background: transparent url(../img/icons/magnifier.png) no-repeat left;
}

.online {
	background: transparent url(../img/icons/world.png) no-repeat left;
}

.pagenew {
	background: transparent url(../img/icons/page_add.png) no-repeat left;
}

.rss {
	background: transparent url(../img/icons/rss.png) no-repeat left;
}

.feed {
	background: transparent url(../img/icons/feed.png) no-repeat left;
}

.report {
	background: transparent url(../img/icons/report.png) no-repeat left;
}

.house {
	background: transparent url(../img/icons/house.png) no-repeat left;
}

.manage {
	background: transparent url(../img/icons/cog.png) no-repeat left;
}

.manage_page {
	background: transparent url(../img/icons/page_gear.png) no-repeat left;
}

.folder {
	background: transparent url(../img/icons/folder.png) no-repeat left;
}

.spromotions {
	background: transparent url(../img/icons/coins.png) no-repeat left;
}

.cart {
	background: transparent url(../img/icons/cart.png) no-repeat left;
}

.folder_table {
	background: transparent url(../img/icons/folder_page.png) no-repeat left;
}

.shipping {
	background: transparent url(../img/icons/car.png) no-repeat left;
}

.invoices {
	background: transparent url(../img/icons/page_white_text_width.png)
		no-repeat left;
}

.addorder {
	background: transparent url(../img/icons/folder_page_add.png) no-repeat
		left;
}

.add {
	background: transparent url(../img/icons/add.png) no-repeat left;
}

.app_add {
	background: transparent url(../img/icons/application_add.png) no-repeat
		left;
}

.report_seo {
	background: transparent url(../img/icons/report_link.png) no-repeat left;
}

.modules {
	background: transparent url(../img/icons/bricks.png) no-repeat left;
}

.modules_manage {
	background: transparent url(../img/icons/bricks_gear.png) no-repeat left;
}

.printer {
	background: transparent url(../img/icons/printer.gif) no-repeat left;
	font-weight: bold
}

.disabled {
	display: inline
}

.contrato_detail {
	width: 98%;
	background-color: #EEEEEE;
}

.titulo_resumo {
	font-size: 16px;
	font-weight: bold;
	padding-left: 5px;
}

.baixa_text {
	height: 65px;
	border: 0px solid #000000;
	padding: 0px;
	margin-bottom: 0px;
}

#no_rows {
	margin-left: 10px;
	margin-top: 10px;
}

.form fieldset {
	border: 1px solid #d9e6f0;
	padding: 10px 10px 10px 10px;
}

.form legend {
	border: 1px solid #d9e6f0;
	background: #fff url(../img/form_blue.gif) repeat-x center left;
	color: #375b91;
	padding: 3px 3px 3px 3px;
}

.form label {
	clear: left;
	display: block;
	float: none;
	width: 150px;
	text-align: left;
	padding-right: 10px;
	height: 14px;
	padding-top: 3px;
}

.form input {
	border: 1px solid #d9e6f0;
	background: #fff url(../img/form_blue.gif) repeat-x top left;
	margin-left: 0px;
	margin-bottom: 5px;
}

.form textarea {
	border: 1px solid #d9e6f0;
	background: #fff url(../img/form_blue.gif) repeat-x bottom left;
	width: 300px;
}

.form option {
	background: #FFF;
}

.form optgroup {
	background: #d9e6f0;
}

.form optgroup option {
	
}

.form input[type=submit] {
	color: #375b91;
	min-height: 30px;
	min-width: 80px;
}

.form input[type=submit]:hover {
	color: #000;
}

.form .error-message {
	position: relative;
	display: inline;
	width: auto;
	text-align: left;
	margin-left: 5px;
	color: red;
}

.input {
	height: 40px;
}

.view dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}

.view dl.altrow {
	background: #f4f4f4;
}

.view dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}

.view dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

.datepick {
	font-size: 8px;
}

.table_sorting thead th {
	cursor: pointer;
}

#authMessage {
	padding: 10px 0px 20px 60px;
	color: #FF0000;
}

#permissoes {
	list-style: none;
	line-height: 20px;
	width: 800px;
	border: 0px solid #00FF00;
}

#permissoes .perm_controller {
	border: 0px solid #00FF00;
	font-weight: bold;
	width: 250px;
}

#permissoes li ul li {
	display: inline;
	border: 0px solid #00FF00;	
}

#permissoes .text {

	padding-right:23px;		
}

.report_title {
	font-weight: bold;
	font-size: 15px;
}

.report_item {
	display: block;
	padding-left: 10px;
}

.reports div {
	display: inline;
	float: left;
	margin-left: 25px;
}

#internal_form fieldset {
	display: inline;
	float: left;
	width: 415px;
	height: 470px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.medias_images_class {

	display: inline;	
	width:100px;
	float: left;
	text-align:center;
}

#contact_image {

	float:right;
	display:inline;
	margin-top:-50px;	
}

#noimage_contact {
	
	width: 120px;
	height: 120px;	
}
.noimage_contact {
	
	width: 120px;
	height: 120px;	
}


.search_bar fieldset {
	
	border: 1px solid #d9e6f0;
	padding: 10px 10px 10px 10px;
}

.search_bar legend {
	
	cursor: pointer;
	border: 1px solid #d9e6f0;
	background: #fff url(../img/form_blue.gif) repeat-x center left;
	color: #375b91;
	padding: 3px 3px 3px 3px;
}

.search_bar h2 {
	
	cursor: pointer;
}
.search_get h3 {
	
	cursor: pointer;
}