<div class="users form">
<?php echo $form->create('User');?>
	<fieldset>
 		<legend><?php __('Novo Usu&aacute;rio');?></legend>

		<?php echo $this->element('users/form'); ?>

		<?php echo $form->end('Salvar');?>	
	</fieldset>

</div>