	<h3>Pr&eacute; Visualiza&ccedil;&atilde;o</h3>
	<label>Por: </label>
		<?php echo $form->input('ReportConfig.fields', array('label'=>false, 'div'=>false, 'style'=>'', 'options'=>$fields)); ?> 
	<label>Ordem: </label>
		<?php echo $form->input('ReportConfig.order_fields', array('label'=>false, 'div'=>false, 'style'=>'', 'options'=>array('asc'=>'Crescente', 'desc'=>'Descrescente'))); ?>
	<label>Mostrar: </label>
		<?php echo $form->input('ReportConfig.per_page', array('label'=>false, 'div'=>false, 'style'=>'', 'options'=>$per_page)); ?> 