<div class="pages index">

<h2>Contatos Cadastrados</h2>
<strong>Contatos:</strong> <?php echo $contacts; ?><br />
<strong>Conjuges:</strong> <?php echo $contacts_conjuge; ?><br />
<strong>Sub Contatos:</strong> <?php echo $contacts_sub; ?><br />
<strong>Total: <?php echo $contacts_sub+$contacts+$contacts_conjuge; ?></strong>

</div>

