<div class="contacts form">

<h2><?php __('Contato');?></h2>
<br />

<?php echo $form->create('Contact');?>
	<fieldset>
 		<legend><?php __('Novo Contato');?></legend>
	
		<?php echo $this->element('contacts/form'); ?>
				
		<?php echo $form->end('Salvar');?>
		
	</fieldset>
</div>