<div class="contact_types form">
<?php echo $form->create('ContactType');?>
	<fieldset>
 		<legend><?php __('Editar Tipo de Contato');?></legend>
		
		<?php echo $form->input('id'); ?>
		<?php echo $this->element('contact_types/form'); ?>
		
		<?php echo $form->end('Salvar');?>
	</fieldset>

</div>