<div class="controllerAuths view">
<h2><?php  __('ControllerAuth');?></h2>
	<dl><?php $i = 0; $class = ' class="altrow"';?>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('Id'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php echo $controllerAuth['ControllerAuth']['id']; ?>
			&nbsp;
		</dd>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('Name'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php echo $controllerAuth['ControllerAuth']['name']; ?>
			&nbsp;
		</dd>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('Show Name'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php echo $controllerAuth['ControllerAuth']['show_name']; ?>
			&nbsp;
		</dd>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('Show'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php echo $controllerAuth['ControllerAuth']['show']; ?>
			&nbsp;
		</dd>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('Allowed'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php echo $controllerAuth['ControllerAuth']['allowed']; ?>
			&nbsp;
		</dd>
	</dl>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('Edit ControllerAuth', true), array('action' => 'edit', $controllerAuth['ControllerAuth']['id'])); ?> </li>
		<li><?php echo $html->link(__('Delete ControllerAuth', true), array('action' => 'delete', $controllerAuth['ControllerAuth']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $controllerAuth['ControllerAuth']['id'])); ?> </li>
		<li><?php echo $html->link(__('List ControllerAuths', true), array('action' => 'index')); ?> </li>
		<li><?php echo $html->link(__('New ControllerAuth', true), array('action' => 'add')); ?> </li>
		<li><?php echo $html->link(__('List Action Auths', true), array('controller' => 'action_auths', 'action' => 'index')); ?> </li>
		<li><?php echo $html->link(__('New Action Auth', true), array('controller' => 'action_auths', 'action' => 'add')); ?> </li>
	</ul>
</div>
<div class="related">
	<h3><?php __('Related Action Auths');?></h3>
	<?php if (!empty($controllerAuth['ActionAuth'])):?>
	<table cellpadding = "0" cellspacing = "0">
	<tr>
		<th><?php __('Id'); ?></th>
		<th><?php __('Controller Auth Id'); ?></th>
		<th><?php __('Name'); ?></th>
		<th><?php __('Show Name'); ?></th>
		<th><?php __('Show'); ?></th>
		<th><?php __('Allowed'); ?></th>
		<th class="actions"><?php __('Actions');?></th>
	</tr>
	<?php
		$i = 0;
		foreach ($controllerAuth['ActionAuth'] as $actionAuth):
			$class = null;
			if ($i++ % 2 == 0) {
				$class = ' class="altrow"';
			}
		?>
		<tr<?php echo $class;?>>
			<td><?php echo $actionAuth['id'];?></td>
			<td><?php echo $actionAuth['controller_auth_id'];?></td>
			<td><?php echo $actionAuth['name'];?></td>
			<td><?php echo $actionAuth['show_name'];?></td>
			<td><?php echo $actionAuth['show'];?></td>
			<td><?php echo $actionAuth['allowed'];?></td>
			<td class="actions">
				<?php echo $html->link(__('View', true), array('controller' => 'action_auths', 'action' => 'view', $actionAuth['id'])); ?>
				<?php echo $html->link(__('Edit', true), array('controller' => 'action_auths', 'action' => 'edit', $actionAuth['id'])); ?>
				<?php echo $html->link(__('Delete', true), array('controller' => 'action_auths', 'action' => 'delete', $actionAuth['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $actionAuth['id'])); ?>
			</td>
		</tr>
	<?php endforeach; ?>
	</table>
<?php endif; ?>

	<div class="actions">
		<ul>
			<li><?php echo $html->link(__('New Action Auth', true), array('controller' => 'action_auths', 'action' => 'add'));?> </li>
		</ul>
	</div>
</div>
