<div class="senders form">
<?php echo $form->create('Sender');?>
	<fieldset>
 		<legend><?php __('Novo Remetente');?></legend>
		
		<?php echo $this->element('senders/form'); ?>
		
		<?php echo $form->end('Salvar');?>
	</fieldset>

</div>