<div class="pages form">
<?php echo $form->create('Campaign', array('type'=>'file'));?>
	<fieldset>
 		<legend><?php __('Nova Campanha');?></legend>
		
		<?php echo $this->element('campaigns/form'); ?>
		
		<?php echo $form->end('Salvar');?>
	</fieldset>

</div>