<div class='reports title'>
	<h1>Enviar Campanha</h1>
</div>

<br />

<div class="contacts reports search_bar">		
	<?php echo $this->element('reports/filter'); ?>	
</div>

<br />

<div class="contacts reports result">	
	<?php echo $this->element('campaigns/result'); ?>	
</div>