	<?php
		echo $form->input('nome', array('style'=>'width:200px'));
		echo $form->input('email', array('style'=>'width:250px'));
		echo $form->input('servidor_smtp', array('style'=>'width:300px'));
		echo $form->input('porta', array('style'=>'width:50px'));
	?>
	<div class="input text required"><label for="SenderFilhos">Autentica?</label>
		<?php echo $form->input('autentica', array('div'=>false, 'label'=>false, 'style'=>'margin-top:4px')); ?>		
	</div>
	<?php		
		echo $form->input('login', array('style'=>'width:150px'));
		echo $form->input('senha', array('style'=>'width:150px'));				
	?>
	
	
<?php //$this->addScript($javascript->link(array('labels/form'))); ?>