<div class="reports index">
<h2><?php __('Tipos de Relat&oacute;rios');?></h2>
<br/>
	
	<div>
		<span class='report_title'>Listagem</span>
		<span class='report_item'><?php echo $html->link(':: Emails', array('action'=>'email')); ?></span>
		<span class='report_item'><?php echo $html->link(':: Resumido', array('action'=>'resumido')); ?></span>
		<span class='report_item'><?php echo $html->link(':: Ficha', array('action'=>'ficha')); ?></span>		
		<span class='report_item'><?php echo $html->link(':: Anivers&aacute;rio', array('action'=>'aniversario'), array('escape'=>false)); ?></span>
		<span class='report_item'><?php echo $html->link(':: Completo', array('action'=>'completo')); ?></span>
		<span class='report_item'><?php echo $html->link(':: Estat&iacute;stico', array('action'=>'estatistico'), array('escape'=>false)); ?></span>
		<span class='report_item'><?php echo $html->link(':: Etiqueta', array('action'=>'etiqueta')); ?></span>							
	</div>
	
</div>